extends ../layout/index

block contenido
  div.py-10
    h1.text-4xl.my-10.font-extrabold.text-center Bienes
      span.font-normal Raices
    h2.text-center.text-2xl.font-extrabold= pagina

    .mt-8.mx-auto.max-w-md.rounded-lg
      .bg-white.py-8.px-8.rounded-md.shadow-lg
        form.space-y-3
          
          div
            label.block.text-gray-500.text-sm.uppercase.mb-2.font-bold(for="email") Email
            input#email.w-full.text-gray-700.border.border-gray-300.rounded.py-2.px-3.rounded-md.placeholder-gray-400(placeholder="Ingresa tu Email" type="email" name="email")
          
          div.flex.items-center.justify-between
            a.text-gray-500.text-xs(href="/auth/registro") ¿No tienes cuenta? Registrate
            a.text-gray-500.text-xs(href="/auth/login") ¿Ya tienes cuenta? Inicia sesión
                   
          input(class="w-full bg-indigo-500 hover:bg-indigo-600 text-white font-bold rounded-md py-2 cursor-pointer" type="submit" value="Enviar correo")