extends ./layout/app

block styles
  link(rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css")

block contenido
  div(class="py-5")
    h1(class="text-center text-4xl font-extrabold text-gray-700") Ubicación en el Mapa

    div(class="flex flex-col md:flex-row items-center py-10 gap-4")
      h2(class="text-sm uppercase font-bold text-gray-800") Filtrar Propiedades:


      div(class="w-full md:w-auto flex items-center gap-2")
        label(for="categorias" class="text-sm w-24 uppercase font-bold text-gray-500") Categorías
        select(id="categorias" class="flex-1 w-full bg-white border border-gray-300 py-2 px-3 rounded-md shadow")
          option(value="") - Seleccione -
          each categoria in categorias
            option(value=categoria.id)= categoria.nombre

      div(class="w-full md:w-auto flex items-center gap-2")
        label(for="precios" class="text-sm w-24 uppercase font-bold text-gray-500") Precios
        select(id="precios" class="flex-1 w-full bg-white border border-gray-300 py-2 px-3 rounded-md shadow")
          option(value="") - Seleccione -
          each precio in precios
            option(value=precio.id)= precio.nombre

    // -Solo funciona con tailwindcss V3+
    div(id="mapa-inicio" class="h-[500px] mt-5")



block scripts
  script(src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js")
  script(src="/js/mapaInicio.js")